<%= form_with(model: contact_form, id: "Contact",data: {remote: true}) do |form| %>
  <% if contact_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact_form.errors.count, "error") %> prohibited this contact_form from being saved:</h2>

      <ul>
        <% contact_form.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-xl-6 col-lg-12">
      <div class="row">
        <div class="col-lg-2">
          <%= form.label :name, 'Nume' %>
        </div>
        <div class="col-lg-10">
          <%= form.text_field :name %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2">
          <%= form.label :email, 'Email' %>
        </div>
        <div class="col-lg-10">
          <%= form.text_field :email %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2">
          <%= form.label :phone, 'Telefon' %>
        </div>
        <div class="col-lg-10">
          <%= form.text_field :phone %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2">
          <%= form.label :message, 'Mesaj' %>
        </div>
        <div class="col-lg-10">
          <%= form.text_area :message %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-2 col-sm-3 form_btn">
          <%= link_to 'Inapoi', contact_forms_path, data: { turbolinks: false } %>
        </div>
        <div class="col-lg-2 col-sm-3 form_btn">
          <%= form.submit %>
        </div>
        <div class="col-lg-2 col-sm-3 form_btn">
          <%= link_to 'Vezi', @contact_form, data: { turbolinks: false } %>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-12"></div>
  </div>
<% end %>
