<%= form_with(model: contact_form, id: "BottomContact", class: "bottom_contact_form") do |form| %>
  <% if contact_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact_form.errors.count, "error") %> prohibited this contact_form from being saved:</h2>

      <ul>
        <% contact_form.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <span>
    <%= form.text_field :name, placeholder: "Nume...", class: "form-control" %>
  </span>

  <span>
    <%= form.text_field :email, placeholder: "Email...", class: "form-control" %>
  </span>

  <span>
    <%= form.text_field :phone, placeholder: "Telefon...", class: "form-control" %>
  </span>

  <span>
    <%= form.text_area :message, placeholder: "Mesaj...", class: "form-control" %>
  </span>

  <div>
    <%= form.submit "Trimite", id: "bottom_form_submit" %>
  </div>
<% end %>