<%= form_with(model: contact_form, id: "BottomContact") do |form| %>
  <% if contact_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact_form.errors.count, "error") %> prohibited this contact_form from being saved:</h2>

      <ul>
        <% contact_form.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <span>
    <%= form.label :name, 'Nume' %><span class="red">*</span>
    <%= form.text_field :name, placeholder: "Nume...", class: "form-control" %>
  </span>
  <br/>
  <span>
    <%= form.label :email, "Email" %><span class="red">*</span></label>
    <%= form.text_field :email, placeholder: "Email...", class: "form-control" %>
  </span>
  <br/>
  <span>
    <%= form.label :phone, "Telefon" %><span class="red">*</span></label>
    <%= form.text_field :phone, placeholder: "Telefon...", class: "form-control" %>
  </span>
  <br/>
  <span>
    <%= form.label :message, "Mesaj" %><span class="red">*</span></label>
    <%= form.text_area :message, placeholder: "Mesaj...", class: "form-control" %>
  </span>
  <br/>
  <div class="actions">
    <%= form.submit "Trimite", class: "contact_submit" %>
  </div>
<% end %>
