<%= render '/layouts/admin_panel' do %>
  <h2>Editare formular de contact</h2>
  <hr>
  <%= render 'form', contact_form: @contact_form %>

  <%= link_to 'Show', @contact_form %> |
  <%= link_to 'Back', :back, data: { turbolinks: false } %>
<% end %>
<%= render '/layouts/footer' %>