<%= render '/layouts/admin_panel' do %>
  <h2>Formulare de contact</h2>
  <hr>
  <table class="width100">
    <thead>
      <tr>
        <th class="three"></th>
        <th class="ten">Nume</th>
        <th class="ten">Email</th>
        <th class="ten">Telefon</th>
        <th>Messaj</th>
        <th class="three">Vezi</th>
        <th class="three">Edit</th>
        <th class="three">Sterge</th>
      </tr>
    </thead>

    <tbody>
      <% @contact_forms.each do |contact_form| %>
        <tr>
          <td><%= contact_form.id %></td>
          <td><%= contact_form.name %></td>
          <td><%= contact_form.email %></td>
          <td><%= contact_form.phone %></td>
          <td><%= excerpt(contact_form.message, "", radius: 100) %></td>
          <td>
              <%= link_to contact_form do %>
                <i class="fa fa-eye" aria-hidden="true" title="Vezi"></i>
              <% end %>
            </td>
            <td>
              <%= link_to edit_contact_form_path(contact_form) do%>
                <i class="fa fa-pencil-square" aria-hidden="true" title="Edit"></i>
              <% end %>
            </td>
            <td>
              <%= link_to contact_form, method: :delete, data: { confirm: 'Are you sure?' } do%>
                <i class="fa fa-trash" aria-hidden="true" title="Sterge"></i>
              <% end %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

<% end %>
<%= render '/layouts/footer' %>