<main role="main" class="container">
	<%= render '/layouts/parallax_container', image: @company.contact_cover_image.attached? ? rails_blob_url(@company.contact_cover_image) : "" %> 

	<h1>Contact</h1>
	<div class="white_bg page_container">

<iframe id="gmap" src="<%= @company.url_google_maps %>" height="450" frameborder="0" allowfullscreen></iframe>	

		<div class="text_container">

			<div class="row">
				<div class="col-md-4">
					<h2 class="h2_address">Adresa</h2>
					<span>
						<i class="fa fa-map-marker"></i>
						<%= @company.address %>
					</span>
					<h2 class="h2_callnow">Suna acum</h2>
					<span>
						<% if @company.phone!="" %>
							<a class="phone_call" href="tel:+<%= tel(@company.phone) %>" title="<%= @company.phone_name %>">
								<i class="fa fa-phone"></i>
								<%= international_phone(@company.phone) %>
							</a>
						<% end %>
						<% if @company.phone2!="" %>
							<br>
							<a class="phone_call" href="tel:+<%= tel(@company.phone2) %>" title="<%= @company.phone2_name %>">
								<i class="fa fa-phone"></i>
								<%= international_phone(@company.phone2) %>
							</a>
						<% end %>
						<% if @company.phone3!="" %>
							<br>
							<a class="phone_call" href="tel:+<%= tel(@company.phone3) %>" title="<%= @company.phone3_name %>">
								<i class="fa fa-phone"></i>
								<%= international_phone(@company.phone3) %>
							</a>
						<% end %>
					</span>
					<h2 class="h2_email">Email</h2>
					<span>
						<a class="email" href="mailto:<%= @company.email1 %>">
							<i class="fa fa-envelope-o"></i>
							<%= @company.email1 %>
						</a>
					</span><br/>
					<span>
						<a class="email" href="mailto:<%= @company.email2 %>">
							<i class="fa fa-envelope-o"></i>
							<%= @company.email2 %>
						</a>
					</span>
					<h2 class="h2_follow">Urmariti-ne pe</h2>
					<span>
						<a class="follow" href="<%= @company.facebook %>">
							<i class="fa fa-facebook"></i>
							Facebook
						</a>
						<a class="follow" href="<%= @company.instagram %>">
							<i class="fa fa-instagram"></i>
							Instagram
						</a>
					</span>
				</div>
				<div class="col-md-8">
					<h2 class="h2_mesaj">LASA-NE UN MESAJ!</h2>
					<p>
						Completeaza campurile de mai jos, si unul dintre consultantii nostrii te va contacta in cel mai scurt timp.
					</p>
					<%= render 'form', contact_form: @contact_form %>    
				</div>
			</div>

		<%= render '/layouts/second_nav' %>
		</div>
	
	</div>
  
</main>

