<%= form_with(model: promotion, class:"admin_promotion_form") do |form| %>
  <% if promotion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(promotion.errors.count, "error") %> prohibited this promotion from being saved:</h2>

      <ul>
        <% promotion.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xl-6 col-lg-12">
      <div class="row">
        <div class="col-lg-3">
          <%= form.label :title do %>
            <span class="label">Titlu promotie</span> 
            <span class="info">
              <i class="fa fa-info-circle info-name"></i>
              <span class="hiddenimg">
                <%= image_tag 'info/promotion_title.png' %>
              </span>
            </span>
          <% end %>
        </div>
        <div class="col-lg-9">
          <%= form.text_field :title %>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-12">
      <div class="row">
        <div class="col-lg-3">
          <%= form.label :title_color do %>
            <span class="label">Culoare titlu</span> 
            <span class="info">
              <i class="fa fa-info-circle info-name"></i>
              <span class="hiddenimg">
                <%= image_tag 'info/promotion_title.png' %>
              </span>
            </span>
          <% end %>
        </div>
        <div class="col-lg-9">
          <%= form.color_field :title_color %>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-12">
      <div class="row">
        <div class="col-lg-3">
          <%= form.label :is_active do %>
            <span class="label">Activa</span>
          <% end %>
        </div>
        <div class="col-lg-9">
          <%= form.check_box :is_active %>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-12">
    </div>
    <div class="col-xl-6 col-lg-12">
      <div class="row">
        <div class="col-lg-3">
          <%= form.label :start_date do %>
            <span class="label">Data inceput</span> 
          <% end %>
        </div>
        <div class="col-lg-9">
          <%= form.date_field :start_date %>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-12">
      <div class="row">
        <div class="col-lg-3">
          <%= form.label :end_date do %>
            <span class="label">Data final</span> 
          <% end %>
        </div>
        <div class="col-lg-9">
          <%= form.date_field :end_date %>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-12">
      <div class="row">
        <div class="col-lg-3">
          <%= form.label :btn_text do %>
            <span class="label">Text buton</span> 
            <span class="info">
              <i class="fa fa-info-circle info-name"></i>
              <span class="hiddenimg">
                <%= image_tag 'info/promotion_btn.png' %>
              </span>
            </span>
          <% end %>
        </div>
        <div class="col-lg-9">
          <%= form.text_field :btn_text %>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-12">
      <div class="row">
        <div class="col-lg-3">
          <%= form.label :btn_url do %>
            <span class="label">Link buton</span> 
            <span class="info">
              <i class="fa fa-info-circle info-name"></i>
              <span class="hiddenimg">
                <%= image_tag 'info/promotion_btn.png' %>
              </span>
            </span>
          <% end %>
        </div>
        <div class="col-lg-9">
          <%= form.text_field :btn_url %>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-12">
      <div class="row">
        <div class="col-lg-3">
          <%= form.label :bg_color do %>
            <span class="label">Culoare fundal</span> 
            <span class="info">
              <i class="fa fa-info-circle info-name"></i>
              <span class="hiddenimg">
                <%= image_tag 'info/promotion_bg_color.png' %>
              </span>
            </span>
          <% end %>
        </div>
        <div class="col-lg-9">
          <%= form.color_field :bg_color %>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-12">
      <div class="row">
        <div class="col-lg-3">
          <%= form.label :bg_image do %>
            <span class="label">Poza fundal</span> 
            <span class="info">
              <i class="fa fa-info-circle info-name"></i>
              <span class="hiddenimg">
                <%= image_tag 'info/promotion_bg_image.png' %>
              </span>
            </span>
          <% end %>
        </div>
        <div class="col-lg-9">
          <div class="row foto">
            <div id="upload" class="col-3 upload">
              <div class="form_btn">
                <%= form.label :bg_image do %>
                  Incarca
                <% end %>
              </div>
              <%= form.file_field :bg_image %>
            </div>
            <% if promotion.bg_image.attached? %>
              <div id="poza1" class="col-12 poza_promotii">
                <%= image_tag promotion.bg_image, id: "image1" %>
              </div>
              <div id="checkbox1" class="col-3 checkbox">
                <%= form.label :remove_bg_image do %>
                  <%= form.check_box :remove_bg_image, onclick:"document.querySelector('#poza1').style.display = 'none';document.querySelector('#checkbox1').style.display = 'none';"  %> 
                  <div class="form_btn">
                    Sterge
                  </div>
                <% end %>
              </div>
            <% else %>
              <div id="poza1" class="col-12 poza_promotii">
                <img src="" id="image1" style="display: none;"> 
              </div>   
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-12">
      <div class="row mt-0">
        <div class="col-lg-3">
          <%= form.label :main_image_landscape do %>
            <span class="label">Poza desktop</span> 
            <span class="info">
              <i class="fa fa-info-circle info-name"></i>
              <span class="hiddenimg">
                <%= image_tag 'info/promotion_main_image_landscape.png' %>
              </span>
            </span>
          <% end %>
        </div>
        <div class="col-lg-9">
          <div class="row foto">
            <div id="upload" class="col-3 upload">
              <div class="form_btn">
                <%= form.label :main_image_landscape do %>
                  Incarca
                <% end %>
              </div>
              <%= form.file_field :main_image_landscape %>
            </div>
            <% if promotion.main_image_landscape.attached? %>
              <div id="poza2" class="col-12 poza_promotii">
                <%= image_tag promotion.main_image_landscape, id: "image2" %>
              </div>
              <div id="checkbox2" class="col-3 checkbox">
                <%= form.label :remove_main_image_landscape do %>
                  <%= form.check_box :remove_main_image_landscape, onclick:"document.querySelector('#poza2').style.display = 'none';document.querySelector('#checkbox2').style.display = 'none';"  %> 
                  <div class="form_btn">
                    Sterge
                  </div>
                <% end %>
              </div>
            <% else %>
              <div id="poza2" class="col-12 poza_promotii">
                <img src="" id="image2" style="display: none;"> 
              </div>   
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-12">
      <div class="row mt-0">
        <div class="col-lg-3">
          <%= form.label :main_image_portrait do %>
            <span class="label">Poza mobil</span> 
            <span class="info">
              <i class="fa fa-info-circle info-name"></i>
              <span class="hiddenimg">
                <%= image_tag 'info/promotion_main_image_portrait.png' %>
              </span>
            </span>
          <% end %>
        </div>
        <div class="col-lg-9">
          <div class="row foto">
            <div id="upload" class="col-3 upload">
              <div class="form_btn">
                <%= form.label :main_image_portrait do %>
                  Incarca
                <% end %>
              </div>
              <%= form.file_field :main_image_portrait %>
            </div>
            <% if promotion.main_image_portrait.attached? %>
              <div id="poza3" class="col-12 poza_promotii">
                <%= image_tag promotion.main_image_portrait, id: "image3" %>
              </div>
              <div id="checkbox3" class="col-3 checkbox">
                <%= form.label :remove_main_image_portrait do %>
                  <%= form.check_box :remove_main_image_portrait, onclick:"document.querySelector('#poza3').style.display = 'none';document.querySelector('#checkbox3').style.display = 'none';"  %> 
                  <div class="form_btn">
                    Sterge
                  </div>
                <% end %>
              </div>
            <% else %>
              <div id="poza3" class="col-12 poza_promotii">
                <img src="" id="image3" style="display: none;"> 
              </div>   
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-12">
      <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-2 form_btn">
           <%= link_to 'Inapoi', promotions_path, data: { turbolinks: false } %>
        </div>
        <div class="col-lg-2 form_btn">
          <%= form.submit %>
        </div>
      </div>
    </div>
  </div>
<% end %>
