<%= form_with(model: company) do |form| %>
  

  <div class="field">
    <%= form.label "Adresa" %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label "Telefon" %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label "Email" %>
    <%= form.text_field :email1 %>
  </div>

  <div class="field">
    <%= form.label "Email" %>
    <%= form.text_field :email2 %>
  </div>

  <div class="field">
    <%= form.label "Facebook" %>
    <%= form.text_field :facebook %>
  </div>

  <div class="field">
    <%= form.label "Instagram" %>
    <%= form.text_field :instagram %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
