<%= form_with(model: company, class:"admin_company_photos_form") do |form| %>
  <h3>Poze Frezari MDF</h3>
  <div class="row">
    <div class="col-md-6">
      <div class="row mt-0">
        <div class="col-lg-3">
          <%= form.label :frezari_mdf_cover_image do %>
            <span class="label">Poza fundal</span> 
            <span class="info">
              <i class="fa fa-info-circle info-name"></i>
              <span class="hiddenimg">
                <%= image_tag 'info/frezari_mdf_poza_fundal.jpg' %>
              </span>
            </span>
          <% end %>
        </div>
        <div class="col-lg-9">
          <div class="row foto">
            <div id="upload" class="col-3 upload">
              <div class="form_btn">
                <%= form.label :frezari_mdf_cover_image do %>
                  Incarca
                <% end %>
              </div>
              <%= form.file_field :frezari_mdf_cover_image %>
            </div>
            <% if company.frezari_mdf_cover_image.attached? %>
              <div id="poza_frezari_mdf_cover_image" class="col-12 poza">
                <%= image_tag company.frezari_mdf_cover_image.variant(resize_to_limit: [300, 200]), id: "image_frezari_mdf_cover_image" %>
              </div>
              <div id="checkbox_frezari_mdf_cover_image" class="col-3 checkbox">
                <%= form.label :remove_frezari_mdf_cover_image do %>
                  <%= form.check_box :remove_frezari_mdf_cover_image, onclick:"document.querySelector('#poza_frezari_mdf_cover_image').style.display = 'none';document.querySelector('#checkbox_frezari_mdf_cover_image').style.display = 'none';"  %> 
                  <div class="form_btn">
                    Sterge
                  </div>
                <% end %>
              </div>
            <% else %>
              <div id="poza_frezari_mdf_cover_image" class="col-12 poza">
                <img src="" id="image_frezari_mdf_cover_image" style="display: none;"> 
              </div>   
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row mt-0">
        <div class="col-lg-3">
          <%= form.label :frezari_mdf_front_image do %>
            <span class="label">Poza principala</span> 
            <span class="info">
              <i class="fa fa-info-circle info-name"></i>
              <span class="hiddenimg">
                <%= image_tag 'info/frezari_mdf_poza_principala.jpg' %>
              </span>
            </span>
          <% end %>
        </div>
        <div class="col-lg-9">
          <div class="row foto">
            <div id="upload" class="col-3 upload">
              <div class="form_btn">
                <%= form.label :frezari_mdf_front_image do %>
                  Incarca
                <% end %>
              </div>
              <%= form.file_field :frezari_mdf_front_image %>
            </div>
            <% if company.frezari_mdf_front_image.attached? %>
              <div id="poza_frezari_mdf_front_image" class="col-12 poza">
                <%= image_tag company.frezari_mdf_front_image.variant(resize_to_limit: [300, 200]), id: "image_frezari_mdf_front_image" %>
              </div>
              <div id="checkbox_frezari_mdf_front_image" class="col-3 checkbox">
                <%= form.label :remove_frezari_mdf_front_image do %>
                  <%= form.check_box :remove_frezari_mdf_front_image, onclick:"document.querySelector('#poza_frezari_mdf_front_image').style.display = 'none';document.querySelector('#checkbox_frezari_mdf_front_image').style.display = 'none';"  %> 
                  <div class="form_btn">
                    Sterge
                  </div>
                <% end %>
              </div>
            <% else %>
              <div id="poza_frezari_mdf_front_image" class="col-12 poza">
                <img src="" id="image_frezari_mdf_front_image" style="display: none;"> 
              </div>   
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <h3>Poze Proiecte</h3>
  <div class="row">
    <div class="col-md-6">
      <div class="row mt-0">
        <div class="col-lg-3">
          <%= form.label :projects_cover_image do %>
            <span class="label">Poza fundal</span> 
            <span class="info">
              <i class="fa fa-info-circle info-name"></i>
              <span class="hiddenimg">
                <%= image_tag 'info/proiecte_poza_fundal.jpg' %>
              </span>
            </span>
          <% end %>
        </div>
        <div class="col-lg-9">
          <div class="row foto">
            <div id="upload" class="col-3 upload">
              <div class="form_btn">
                <%= form.label :projects_cover_image do %>
                  Incarca
                <% end %>
              </div>
              <%= form.file_field :projects_cover_image %>
            </div>
            <% if company.projects_cover_image.attached? %>
              <div id="poza_projects_cover_image" class="col-12 poza">
                <%= image_tag company.projects_cover_image.variant(resize_to_limit: [300, 200]), id: "image_projects_cover_image" %>
              </div>
              <div id="checkbox_projects_cover_image" class="col-3 checkbox">
                <%= form.label :remove_projects_cover_image do %>
                  <%= form.check_box :remove_projects_cover_image, onclick:"document.querySelector('#poza_projects_cover_image').style.display = 'none';document.querySelector('#checkbox_projects_cover_image').style.display = 'none';"  %> 
                  <div class="form_btn">
                    Sterge
                  </div>
                <% end %>
              </div>
            <% else %>
              <div id="poza_projects_cover_image" class="col-12 poza">
                <img src="" id="image_projects_cover_image" style="display: none;"> 
              </div>   
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row mt-0">
        <div class="col-lg-3">
          <%= form.label :projects_front_image do %>
            <span class="label">Poza principala</span> 
            <span class="info">
              <i class="fa fa-info-circle info-name"></i>
              <span class="hiddenimg">
                <%= image_tag 'info/proiecte_poza_principala.jpg' %>
              </span>
            </span>
          <% end %>
        </div>
        <div class="col-lg-9">
          <div class="row foto">
            <div id="upload" class="col-3 upload">
              <div class="form_btn">
                <%= form.label :projects_front_image do %>
                  Incarca
                <% end %>
              </div>
              <%= form.file_field :projects_front_image %>
            </div>
            <% if company.projects_front_image.attached? %>
              <div id="poza_projects_front_image" class="col-12 poza">
                <%= image_tag company.projects_front_image.variant(resize_to_limit: [300, 200]), id: "image_projects_front_image" %>
              </div>
              <div id="checkbox_projects_front_image" class="col-3 checkbox">
                <%= form.label :remove_projects_front_image do %>
                  <%= form.check_box :remove_projects_front_image, onclick:"document.querySelector('#poza_projects_front_image').style.display = 'none';document.querySelector('#checkbox_projects_front_image').style.display = 'none';"  %> 
                  <div class="form_btn">
                    Sterge
                  </div>
                <% end %>
              </div>
            <% else %>
              <div id="poza_projects_front_image" class="col-12 poza">
                <img src="" id="image_projects_front_image" style="display: none;"> 
              </div>   
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
      

  <h3>Poze Proiecte Sociale</h3>
  <div class="row">
    <div class="col-md-6">
      <div class="row mt-0">
        <div class="col-lg-3">
          <%= form.label :social_projects_cover_image do %>
            <span class="label">Poza fundal</span> 
            <span class="info">
              <i class="fa fa-info-circle info-name"></i>
              <span class="hiddenimg">
                <%= image_tag 'info/proiecte_sociale_poza_fundal.jpg' %>
              </span>
            </span>
          <% end %>
        </div>
        <div class="col-lg-9">
          <div class="row foto">
            <div id="upload" class="col-3 upload">
              <div class="form_btn">
                <%= form.label :social_projects_cover_image do %>
                  Incarca
                <% end %>
              </div>
              <%= form.file_field :social_projects_cover_image %>
            </div>
            <% if company.social_projects_cover_image.attached? %>
              <div id="poza_social_projects_cover_image" class="col-12 poza">
                <%= image_tag company.social_projects_cover_image.variant(resize_to_limit: [300, 200]), id: "image_social_projects_cover_image" %>
              </div>
              <div id="checkbox_social_projects_cover_image" class="col-3 checkbox">
                <%= form.label :remove_social_projects_cover_image do %>
                  <%= form.check_box :remove_social_projects_cover_image, onclick:"document.querySelector('#poza_social_projects_cover_image').style.display = 'none';document.querySelector('#checkbox_social_projects_cover_image').style.display = 'none';"  %> 
                  <div class="form_btn">
                    Sterge
                  </div>
                <% end %>
              </div>
            <% else %>
              <div id="poza_social_projects_cover_image" class="col-12 poza">
                <img src="" id="image_social_projects_cover_image" style="display: none;"> 
              </div>   
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row mt-0">
        <div class="col-lg-3">
          <%= form.label :social_projects_front_image do %>
            <span class="label">Poza principala</span> 
            <span class="info">
              <i class="fa fa-info-circle info-name"></i>
              <span class="hiddenimg">
                <%= image_tag 'info/proiecte_sociale_poza_principala.jpg' %>
              </span>
            </span>
          <% end %>
        </div>
        <div class="col-lg-9">
          <div class="row foto">
            <div id="upload" class="col-3 upload">
              <div class="form_btn">
                <%= form.label :social_projects_front_image do %>
                  Incarca
                <% end %>
              </div>
              <%= form.file_field :social_projects_front_image %>
            </div>
            <% if company.social_projects_front_image.attached? %>
              <div id="poza_social_projects_front_image" class="col-12 poza">
                <%= image_tag company.social_projects_front_image.variant(resize_to_limit: [300, 200]), id: "image_social_projects_front_image" %>
              </div>
              <div id="checkbox_social_projects_front_image" class="col-3 checkbox">
                <%= form.label :remove_social_projects_front_image do %>
                  <%= form.check_box :remove_social_projects_front_image, onclick:"document.querySelector('#poza_social_projects_front_image').style.display = 'none';document.querySelector('#checkbox_social_projects_front_image').style.display = 'none';"  %> 
                  <div class="form_btn">
                    Sterge
                  </div>
                <% end %>
              </div>
            <% else %>
              <div id="poza_social_projects_front_image" class="col-12 poza">
                <img src="" id="image_social_projects_front_image" style="display: none;"> 
              </div>   
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h3>Poze Servicii</h3>
  <div class="row">
    <div class="col-md-6">
      <div class="row mt-0">
        <div class="col-lg-3">
          <%= form.label :services_cover_image do %>
            <span class="label">Poza fundal</span> 
            <span class="info">
              <i class="fa fa-info-circle info-name"></i>
              <span class="hiddenimg">
                <%= image_tag 'info/servicii_poza_fundal.jpg' %>
              </span>
            </span>
          <% end %>
        </div>
        <div class="col-lg-9">
          <div class="row foto">
            <div id="upload" class="col-3 upload">
              <div class="form_btn">
                <%= form.label :services_cover_image do %>
                  Incarca
                <% end %>
              </div>
              <%= form.file_field :services_cover_image %>
            </div>
            <% if company.services_cover_image.attached? %>
              <div id="poza_services_cover_image" class="col-12 poza">
                <%= image_tag company.services_cover_image.variant(resize_to_limit: [300, 200]), id: "image_services_cover_image" %>
              </div>
              <div id="checkbox_services_cover_image" class="col-3 checkbox">
                <%= form.label :remove_services_cover_image do %>
                  <%= form.check_box :remove_services_cover_image, onclick:"document.querySelector('#poza_services_cover_image').style.display = 'none';document.querySelector('#checkbox_services_cover_image').style.display = 'none';"  %> 
                  <div class="form_btn">
                    Sterge
                  </div>
                <% end %>
              </div>
            <% else %>
              <div id="poza_services_cover_image" class="col-12 poza">
                <img src="" id="image_services_cover_image" style="display: none;"> 
              </div>   
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row mt-0">
        <div class="col-lg-3">
          <%= form.label :services_front_image do %>
            <span class="label">Poza principala</span> 
            <span class="info">
              <i class="fa fa-info-circle info-name"></i>
              <span class="hiddenimg">
                <%= image_tag 'info/servicii_poza_principala.jpg' %>
              </span>
            </span>
          <% end %>
        </div>
        <div class="col-lg-9">
          <div class="row foto">
            <div id="upload" class="col-3 upload">
              <div class="form_btn">
                <%= form.label :services_front_image do %>
                  Incarca
                <% end %>
              </div>
              <%= form.file_field :services_front_image %>
            </div>
            <% if company.services_front_image.attached? %>
              <div id="poza_services_front_image" class="col-12 poza">
                <%= image_tag company.services_front_image.variant(resize_to_limit: [300, 200]), id: "image_services_front_image" %>
              </div>
              <div id="checkbox_services_front_image" class="col-3 checkbox">
                <%= form.label :remove_services_front_image do %>
                  <%= form.check_box :remove_services_front_image, onclick:"document.querySelector('#poza_services_front_image').style.display = 'none';document.querySelector('#checkbox_services_front_image').style.display = 'none';"  %> 
                  <div class="form_btn">
                    Sterge
                  </div>
                <% end %>
              </div>
            <% else %>
              <div id="poza_services_front_image" class="col-12 poza">
                <img src="" id="image_services_front_image" style="display: none;"> 
              </div>   
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h3>Poze Contact</h3>
  <div class="row">
    <div class="col-md-6">
      <div class="row mt-0">
        <div class="col-lg-3">
          <%= form.label :contact_cover_image do %>
            <span class="label">Poza fundal</span> 
            <span class="info">
              <i class="fa fa-info-circle info-name"></i>
              <span class="hiddenimg">
                <%= image_tag 'info/contact_poza_fundal.jpg' %>
              </span>
            </span>
          <% end %>
        </div>
        <div class="col-lg-9">
          <div class="row foto">
            <div id="upload" class="col-3 upload">
              <div class="form_btn">
                <%= form.label :contact_cover_image do %>
                  Incarca
                <% end %>
              </div>
              <%= form.file_field :contact_cover_image %>
            </div>
            <% if company.contact_cover_image.attached? %>
              <div id="poza_contact_cover_image" class="col-12 poza">
                <%= image_tag company.contact_cover_image.variant(resize_to_limit: [300, 200]), id: "image_contact_cover_image" %>
              </div>
              <div id="checkbox_contact_cover_image" class="col-3 checkbox">
                <%= form.label :remove_contact_cover_image do %>
                  <%= form.check_box :remove_contact_cover_image, onclick:"document.querySelector('#poza_contact_cover_image').style.display = 'none';document.querySelector('#checkbox_contact_cover_image').style.display = 'none';"  %> 
                  <div class="form_btn">
                    Sterge
                  </div>
                <% end %>
              </div>
            <% else %>
              <div id="poza_contact_cover_image" class="col-12 poza">
                <img src="" id="image_contact_cover_image" style="display: none;"> 
              </div>   
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mt-0">
    </div>
  </div>
  <h3>Poze Politica de confidentialitate</h3>
  <div class="row">
    <div class="col-md-6 mt-0">
      <div class="row">
        <div class="col-lg-3">
          <%= form.label :politica_de_confidentialitate_cover_image do %>
            <span class="label">Poza fundal</span> 
            <span class="info">
              <i class="fa fa-info-circle info-name"></i>
              <span class="hiddenimg">
                <%= image_tag 'info/politica_confidentialitate_poza_fundal.jpg' %>
              </span>
            </span>
          <% end %>
        </div>
        <div class="col-lg-9">
          <div class="row foto">
            <div id="upload" class="col-3 upload">
              <div class="form_btn">
                <%= form.label :politica_de_confidentialitate_cover_image do %>
                  Incarca
                <% end %>
              </div>
              <%= form.file_field :politica_de_confidentialitate_cover_image %>
            </div>
            <% if company.politica_de_confidentialitate_cover_image.attached? %>
              <div id="poza_politica_de_confidentialitate_cover_image" class="col-12 poza">
                <%= image_tag company.politica_de_confidentialitate_cover_image.variant(resize_to_limit: [300, 200]), id: "image_politica_de_confidentialitate_cover_image" %>
              </div>
              <div id="checkbox_politica_de_confidentialitate_cover_image" class="col-3 checkbox">
                <%= form.label :remove_politica_de_confidentialitate_cover_image do %>
                  <%= form.check_box :remove_politica_de_confidentialitate_cover_image, onclick:"document.querySelector('#poza_politica_de_confidentialitate_cover_image').style.display = 'none';document.querySelector('#checkbox_politica_de_confidentialitate_cover_image').style.display = 'none';"  %> 
                  <div class="form_btn">
                    Sterge
                  </div>
                <% end %>
              </div>
            <% else %>
              <div id="poza_politica_de_confidentialitate_cover_image" class="col-12 poza">
                <img src="" id="image_politica_de_confidentialitate_cover_image" style="display: none;"> 
              </div>   
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mt-0">
    </div>
  </div>
  <h3>Poze Politica Cookies</h3>
  <div class="row">
    <div class="col-md-6 mt-0">
      <div class="row">
        <div class="col-lg-3">
          <%= form.label :politica_cookies_cover_image do %>
            <span class="label">Poza fundal</span> 
            <span class="info">
              <i class="fa fa-info-circle info-name"></i>
              <span class="hiddenimg">
                <%= image_tag 'info/politica_cookies_poza_fundal.jpg' %>
              </span>
            </span>
          <% end %>
        </div>
        <div class="col-lg-9">
          <div class="row foto">
            <div id="upload" class="col-3 upload">
              <div class="form_btn">
                <%= form.label :politica_cookies_cover_image do %>
                  Incarca
                <% end %>
              </div>
              <%= form.file_field :politica_cookies_cover_image %>
            </div>
            <% if company.politica_cookies_cover_image.attached? %>
              <div id="poza_politica_cookies_cover_image" class="col-12 poza">
                <%= image_tag company.politica_cookies_cover_image.variant(resize_to_limit: [300, 200]), id: "image_politica_cookies_cover_image" %>
              </div>
              <div id="checkbox_politica_cookies_cover_image" class="col-3 checkbox">
                <%= form.label :remove_politica_cookies_cover_image do %>
                  <%= form.check_box :remove_politica_cookies_cover_image, onclick:"document.querySelector('#poza_politica_cookies_cover_image').style.display = 'none';document.querySelector('#checkbox_politica_cookies_cover_image').style.display = 'none';"  %> 
                  <div class="form_btn">
                    Sterge
                  </div>
                <% end %>
              </div>
            <% else %>
              <div id="poza_politica_cookies_cover_image" class="col-12 poza">
                <img src="" id="image_politica_cookies_cover_image" style="display: none;"> 
              </div>   
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mt-0">
    </div>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-lg-1 col-sm-2 form_btn">
        <%= link_to 'Inapoi', :back, data: { turbolinks: false } %>
      </div>
      <div class="col-lg-1 col-sm-2 form_btn">
        <%= form.submit %>
      </div>
    </div>
  </div>
<% end %>