<%= form_with(model: social_project, class:"admin_social_project_form") do |form| %>
  <% if social_project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(social_project.errors.count, "error") %> prohibited this social_project from being saved:</h2>

      <ul>
        <% social_project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :title do %>
      <span class="label">Titlu</span> 
      <span class="info">
        <i class="fa fa-info-circle info-name"></i>
        <span class="hiddenimg">
          <%= image_tag 'info/proiecte_sociale_titlu.jpg' %>
          <%= image_tag 'info/proiect_social_titlu.jpg' %>
        </span>
      </span>
    <% end %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :main_image do %>
    <span class="label">Poza principala</span> 
      <span class="info">
        <i class="fa fa-info-circle info-name"></i>
        <span class="hiddenimg">
          <%= image_tag 'info/proiecte_sociale_poza.jpg' %>
          <%= image_tag 'info/proiect_social_poza_principala.jpg' %>
        </span>
      </span>
    <% end %>
    <div class="poza">
      <div id="poza">
    <% if social_project.main_image.attached? %>
      <%= image_tag social_project.main_image, id: "image" %>
      <br>
      <%= form.label :remove_main_image do %>
        <%= form.check_box :remove_main_image, onclick:"document.querySelector('#poza').style.display = 'none';"  %> 
        Sterge
      <% end %>
    <% else %>
    <img src="" id="image" style="display: none;">    
    <% end %>
    </div>
    <%= form.label :main_image do %>
      Upload
    <% end %>
    <%= form.file_field :main_image %>
  </div>

  <div class="field">
    <%= form.label :description do %>
    <span class="label">Descriere</span> 
      <span class="info">
        <i class="fa fa-info-circle info-name"></i>
        <span class="hiddenimg">
          <%= image_tag 'info/proiecte_sociale_descriere.jpg' %>
          <%= image_tag 'info/proiect_social_descriere.jpg' %>
        </span>
      </span>
    <% end %>
    <div class="editor">
      <%= form.rich_text_area :description %>
    </div>
  </div>

  <div class="field">
    <%= form.label :images do %>
      <span class="label">Imagini</span> 
      <span class="info">
        <i class="fa fa-info-circle info-name"></i>
        <span class="hiddenimg">
          <%= image_tag 'info/proiect_social_imagini.jpg' %>
        </span>
      </span>
    <% end %>

    <% if social_project.images.any? %>
      <input type="hidden" name="social_project[remove_images][]" value="">
      <% social_project.images.each do |image| %>
        <div id="poza_<%= image.id %>" style="display: inline-block">
          <%= image_tag image, class: "social_project_image" %>
          <label for="social_project_remove_images_<%= image.id %>"><input type="checkbox" value="<%= image.id %>" name="social_project[remove_images][]" id="social_project_remove_images_<%= image.id %>", onclick= "document.querySelector('#poza_<%= image.id %>').style.display = 'none';">Sterge</label>
        </div>
      <% end %>
      <br>
      <%= form.file_field :images, multiple: true, id: "multiple" %>
    
    <% end %>
  </div>

  <span class="label">Adauga link video Youtube</span>
  <span class="info">
    <i class="fa fa-info-circle info-name"></i>
    <span class="hiddenimg">
      <%= image_tag 'info/proiect_social_youtube_url.jpg' %>
      <%= image_tag 'info/proiect_social_youtube.jpg' %>
    </span>
  </span>
  <%= form.fields_for :youtubesps do |youtubesp| %>
      <%= render 'youtubesp_fields', f: youtubesp %>
  <% end %>

  <div class="links">
      <%= link_to_add_association "Adauga", form, :youtubesps %>
  </div>
  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
