<%= form_with(model: social_project) do |form| %>
  <% if social_project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(social_project.errors.count, "error") %> prohibited this social_project from being saved:</h2>

      <ul>
        <% social_project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-lg-1">
          <%= form.label :title do %>
            <span class="label">Titlu</span> 
            <span class="info">
              <i class="fa fa-info-circle info-name"></i>
              <span class="hiddenimg">
                <%= image_tag 'info/proiecte_sociale_titlu.jpg' %>
                <%= image_tag 'info/proiect_social_titlu.jpg' %>
              </span>
            </span>
          <% end %>
        </div>
        <div class="col-lg-5">
          <%= form.text_field :title %>
        </div>
        <div class="col-lg-6">
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-lg-1">
          <%= form.label :main_image do %>
            <span class="label">Poza principala</span> 
            <span class="info">
              <i class="fa fa-info-circle info-name"></i>
              <span class="hiddenimg">
                <%= image_tag 'info/proiecte_sociale_poza.jpg' %>
                <%= image_tag 'info/proiect_social_poza_principala.jpg' %>
              </span>
            </span>
          <% end %>
        </div>
        <div class="col-lg-5">
          <div class="row foto">
            <div id="upload" class="col-3 upload">
              <div class="form_btn">
                <%= form.label :main_image do %>
                  Incarca
                <% end %>
              </div>
              <%= form.file_field :main_image %>
            </div>
            <% if social_project.main_image.attached? %>
              <div id="poza" class="col-12 poza">
                <%= image_tag social_project.main_image.variant(resize_to_limit: [300, 200]), id: "image" %>
              </div>
              <div id="checkbox" class="col-3 checkbox">
                <%= form.label :remove_main_image do %>
                  <%= form.check_box :remove_main_image, onclick:"document.querySelector('#poza').style.display = 'none';document.querySelector('#checkbox').style.display = 'none';"  %> 
                  <div class="form_btn">
                    Sterge
                  </div>
                <% end %>
              </div>
            <% else %>
              <div id="poza" class="col-12 poza">
                <img src="" id="image" style="display: none;"> 
              </div>   
            <% end %>
          </div>
        </div>
        <div class="col-lg-6">
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-lg-1">
          <%= form.label :description do %>
            <span class="label">Descriere</span> 
            <span class="info">
              <i class="fa fa-info-circle info-name"></i>
              <span class="hiddenimg">
                <%= image_tag 'info/proiecte_sociale_descriere.jpg' %>
                <%= image_tag 'info/proiect_social_descriere.jpg' %>
              </span>
            </span>
          <% end %>
        </div>
        <div class="col-lg-11">
          <%= form.rich_text_area :description %>
        </div>
      </div>
    </div>
    <div class="col-12">
      <% if social_project.images.any? %>
        <div class="row">
          <div class="col-lg-1">
            <%= form.label :images do %>
              <span class="label">Imagini existente</span> 
              <span class="info">
                <i class="fa fa-info-circle info-name"></i>
                <span class="hiddenimg">
                  <%= image_tag 'info/proiect_social_imagini.jpg' %>
                </span>
              </span>
            <% end %>
          </div>
          <div class="col-lg-11 pl-lg-0">
            <div class="row mt-lg-2"><div class="col-12"><i class="fa fa-exclamation-triangle info-name"></i> La apasarea butoanelor de stergere de sub imagini acestea sunt introduse intr-o lista pentru a fi sterse, dar stergerea se face doar in momentul apasarii butonului Salveaza.</div></div><br>
            <div class="row multiple_images foto">
              <% social_project.images.each do |image| %>
                <div id="poza_<%= image.id %>" style="display: inline-block" class="col-lg-3">
                <!--<input type="hidden" name="social_project[remove_images][]" value="">-->
                  <%= image_tag image, class: "social_project_image" %>
                  <label for="social_project_remove_images_<%= image.id %>" class="checkbox"><input type="checkbox" value="<%= image.id %>" name="social_project[remove_images][]" id="social_project_remove_images_<%= image.id %>", onclick= "document.querySelector('#poza_<%= image.id %>').style.display = 'none';"><div class="col-3 form_btn">
                    Sterge
                  </div></label>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="col-lg-1">
          <%= form.label "Imagini" do %>
            <span class="label">Imagini noi</span> 
            <span class="info">
              <i class="fa fa-info-circle info-name"></i>
              <span class="hiddenimg">
                <%= image_tag 'info/proiect_social_imagini.jpg' %>
              </span>
            </span>
          <% end %>
        </div>
        <div class="col-lg-11">
          <div class="row mt-lg-2"><div class="col-12 pl-lg-0"><i class="fa fa-exclamation-triangle info-name"></i></i> Pentru a adauga noi fotografii la proiect apasa pe butonul Adauga imagini si selecteaza imaginile dorite. Daca ai gresit ceva cand ai selectat imaginile(ai selectat prea multe/prea putine/etc.), apasa din nou pe butonul Adauga imagini si selecteaza-le pe cele corecte. In momentul apasarii butonului Adauga/Salveaza se vor adauga imaginile afisate mai jos. </div></div><br>
          <div class="row multiple_images foto">
            <div id="upload" class="col-lg-2 upload">
              <div class="form_btn">
                <%= form.label :images do %>
                  Adauga imagini
                <% end %>
              </div>
              <%= form.file_field :images, multiple: true %>
            </div>
            <div id="uploaded" class="row">
            
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-lg-1">
          <%= form.label "Youtube" do %>
            <span class="label">Adauga link video Youtube</span> 
            <span class="info">
              <i class="fa fa-info-circle info-name"></i>
              <span class="hiddenimg">
                <%= image_tag 'info/proiect_social_youtube_url.jpg' %>
                <%= image_tag 'info/proiect_social_youtube.jpg' %>
              </span>
            </span>
          <% end %>
        </div>
        <div class="col-lg-5 pl-lg-0">
          <%= form.fields_for :youtubesps do |youtubesp| %>
            <%= render 'youtubesp_fields', f: youtubesp %>
          <% end %>
          <div class="col-3 form_btn">
            <%= link_to_add_association "Adauga camp", form, :youtubesps %>
          </div>
        </div>
        <div class="col-lg-6">
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-1 col-sm-2 form_btn">
          <%= link_to 'Inapoi', admin_proiecte_sociale_path, data: { turbolinks: false } %>
        </div>
        <div class="col-lg-1 col-sm-2 form_btn">
          <%= form.submit %>
        </div>
        <% if !current_page?(new_social_project_path)  %>
          <div class="col-lg-1 col-sm-2 form_btn">
            <%= link_to 'Vezi', @social_project, data: { turbolinks: false } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>