<header role="main" class="container">
  <%= render '/layouts/parallax_container', image: @company.social_projects_cover_image.attached? ? rails_blob_url(@company.social_projects_cover_image) : "" %> 
	
	<h1>Proiecte sociale Enocis</h1>
  <div class="white_bg page_container">
    <%= image_tag @company.social_projects_front_image.attached? ? rails_blob_url(@company.social_projects_front_image) : "" , alt: 'Imagine Proiecte Sociale', class: 'main_img' %>
	</div>
</header>
<main role="main" class="container wider social_project_main">
 <div class="social_projects row">
    <% @social_projects.each do |social_project| %>
      <div class="col-lg-3 col-md-4 col-sm-6 social_project_card">
        <%= link_to social_project_path(social_project.friendly_id), data: { turbolinks: false } do %>
          <div class="social_project_image">
            <% if social_project.main_image.attached? %>
              <%= image_tag social_project.main_image %>
            <% end %>
            <div class="overlay"><i class="fa fa-eye"></i></div>
          </div>
          <h2><%= social_project.title %></h2>
          <div><%= excerpt(social_project.description.to_plain_text, "", radius: 140) %></div>
        <% end %>
        
      </div>
    <% end %>
  </div>
  
</main>
<footer class="container">
  <%= render '/layouts/second_nav' %>
</footer>