<header role="main" class="container">
  <%= render '/layouts/parallax_container', image: @company.social_projects_cover_image.attached? ? rails_blob_url(@company.social_projects_cover_image) : "" %>

  <h1><%= @social_project.title %></h1>

  <div class="white_bg page_container">
    <%= image_tag @social_project.main_image.attached? ? rails_blob_url(@social_project.main_image) : "" , alt: 'image', class: 'main_img' %>
</header>
<main role="main" class="container wider social_project_main">
 <div class="social_project">
    <p>
      <%= @social_project.description %>
    </p>
    <div class="row">
      <% if @social_project.images.any? %>
        <% @social_project.images.each do |image| %>
          <%= image_tag image, class: "social_project_image col-md-4" %>
        <% end %>
      <% end %>
    </div>
    <div class="row">
      <% for youtubesp in @social_project.youtubesps %> 
        <div class="col-md-4">
          <div class="vid">        
            <iframe src="<%= embed(youtubesp.url) %>?playlist=<%= id(youtubesp.url) %>&autoplay=1&mute=1&loop=1&color=white&controls=1&modestbranding=1&playsinline=1&rel=0&enablejsapi=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe> 
          </div> 
        </div>    
      <% end %>
    </div>
  </div>
</main>
<footer class="container">
  <%= render '/layouts/second_nav' %>
</footer>
