<%= form_with(model: service, class:"admin_service_form") do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
        <% service.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title do %>
    <span class="label">Titlu</span> 
      <span class="info">
        <i class="fa fa-info-circle info-name"></i>
        <span class="hiddenimg">
          <%= image_tag 'info/servicii_titlu.jpg' %>
        </span>
      </span>
    <% end %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
   <%= form.label :etline_icon do %>
    <span class="label">Icon</span> 
      <span class="info">
        <i class="fa fa-info-circle info-name"></i>
        <span class="hiddenimg">
          <%= image_tag 'info/servicii_icon.jpg' %>
        </span>
      </span>
    <% end %>
    <div class="etline-icon">
      <%= form.collection_radio_buttons(:etline_icon_id, EtlineIcon.all, :id, :name) do |b| %>
      
        <% b.label(:"data-value" => b.value, class: "myicon "+ b.text) { b.radio_button(class: "radio_button") } %>
      <% end %>
    </div>
  </div>

  <div class="field">
    <%= form.label :description do %>
    <span class="label">Descriere</span> 
      <span class="info">
        <i class="fa fa-info-circle info-name"></i>
        <span class="hiddenimg">
          <%= image_tag 'info/servicii_descriere.jpg' %>
        </span>
      </span>
    <% end %>
    <div class="editor">
      <%= form.rich_text_area :description %>
    </div>
  </div>

  <div class="field">
    <%= form.label :images do %>
      <span class="label">Imagini</span> 
      <span class="info">
        <i class="fa fa-info-circle info-name"></i>
        <span class="hiddenimg">
          <%= image_tag 'info/servicii_imagini.jpg' %>
        </span>
      </span>
    <% end %>
    <% if service.images.any? %>
      <% service.images.each do |image| %>
        <div id="poza_<%= image.id %>" style="display: inline-block">
          <%= image_tag image, class: "service_image" %>
          <label for="service_remove_images_<%= image.id %>"><input type="checkbox" value="<%= image.id %>" name="service[remove_images][]" id="service_remove_images_<%= image.id %>", onclick= "document.querySelector('#poza_<%= image.id %>').style.display = 'none';">Sterge</label>
        </div>
      <% end %>
      <br>
    <% end %>
    <%= form.file_field :images, multiple: true, id: "multiple" %>
  </div>

  <span class="label">Adauga link video Youtube</span>
  <span class="info">
    <i class="fa fa-info-circle info-name"></i>
    <span class="hiddenimg">
      <%= image_tag 'info/servicii_youtube_url.jpg' %>
      <%= image_tag 'info/servicii_youtube.jpg' %>
    </span>
  </span>
  <%= form.fields_for :youtubes do |youtube| %>
      <%= render 'youtube_fields', f: youtube %>
  <% end %>
  <div class="links">
      <%= link_to_add_association "Adauga", form, :youtubes %>
  </div>

  <div class="actions">
    <div class="form_btn">
      <%= link_to 'Inapoi', admin_servicii_path, data: { turbolinks: false } %>
    </div>
    <%= form.submit %>
    <% if !current_page?(new_service_path)  %>
      <div class="form_btn">
        <%= link_to 'Vezi', @service, data: { turbolinks: false } %>
      </div>
    <% end %>
  </div>
<% end %>
