<%= form_with(model: project_category) do |form| %>
  <% if project_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project_category.errors.count, "error") %> prohibited this project_category from being saved:</h2>

      <ul>
        <% project_category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'Nume'%>
    <%= form.text_field :name %>
  </div>
  

  <div class="actions">
    <div class="form_btn">
      <%= link_to 'Inapoi', project_categories_path, data: { turbolinks: false } %>
    </div>
    <%= form.submit %>
    <% if !current_page?(new_project_category_path)  %>
      <div class="form_btn">
        <%= link_to 'Vezi', @project_category, data: { turbolinks: false } %>
      </div>
    <% end %>
  </div>
<% end %>
