<%= render '/layouts/admin_panel' do %>
  <h2>Categorii proiecte</h2>

  <table class="width50">
    <thead>
      <tr>
        <th class="five"></th>
        <th>Nume</th>
        <th class="ten">Vezi</th>
        <th class="ten">Edit</th>
        <th class="ten">Sterge</th>
      </tr>
    </thead>

    <tbody>
      <% @project_categories.each do |project_category| %>
        <tr>
          <td><%= project_category.id %></td>
          <td><%= project_category.name %></td>
          <td>
              <%= link_to project_category do %>
                <i class="fa fa-eye" aria-hidden="true" title="Vezi"></i>
              <% end %>
            </td>
            <td>
              <%= link_to edit_project_category_path(project_category) do%>
                <i class="fa fa-pencil-square" aria-hidden="true" title="Edit"></i>
              <% end %>
            </td>
            <td>
              <%= link_to project_category, method: :delete, data: { confirm: 'Are you sure?' } do%>
                <i class="fa fa-trash" aria-hidden="true" title="Sterge"></i>
              <% end %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Project Category', new_project_category_path %>
<% end %>