<%= form_with(model: project, class:"admin_project_form") do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-lg-1">
          <%= form.label :name do %>
            <span class="label">Nume</span> 
            <span class="info">
              <i class="fa fa-info-circle info-name"></i>
              <span class="hiddenimg">
                <%= image_tag 'info/projects_nume.PNG' %>
                <%= image_tag 'info/project_nume.PNG' %>
              </span>
            </span>
          <% end %>
        </div>
        <div class="col-lg-5">
          <%= form.text_field :name %>
        </div>
        <div class="col-lg-6">
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-lg-1">
          <%= form.label :description do %>
            <span class="label">Descriere</span> 
            <span class="info">
              <i class="fa fa-info-circle info-name"></i>
              <span class="hiddenimg">
                <%= image_tag 'info/project_descriere.PNG' %>
              </span>
            </span>
          <% end %>
        </div>
        <div class="col-lg-11">
          <%= form.rich_text_area :description %>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-lg-1">
          <%= form.label :author do %>
            <span class="label">Autor</span> 
            <span class="info">
              <i class="fa fa-info-circle info-name"></i>
              <span class="hiddenimg">
                <%= image_tag 'info/project_autor.PNG' %>
              </span>
            </span>
          <% end %>
        </div>
        <div class="col-lg-5">
          <%= form.text_field :author %>
        </div>
        <div class="col-lg-6">
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-lg-1">
          <%= form.label :date do %>
            <span class="label">Data</span> 
            <span class="info">
              <i class="fa fa-info-circle info-name"></i>
              <span class="hiddenimg">
                <%= image_tag 'info/project_data.PNG' %>
              </span>
            </span>
          <% end %>
        </div>
        <div class="col-lg-5 project-date">
          <%= form.date_field :date %>
        </div>
        <div class="col-lg-6">
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-lg-1">
          <%= form.label :project_category_ids do %>
            <span class="label">Categorii</span> 
            <span class="info">
              <i class="fa fa-info-circle info-name"></i>
              <span class="hiddenimg">
                <%= image_tag 'info/projects_categorii.PNG' %>
                <%= image_tag 'info/project_categorii.PNG' %>
              </span>
            </span>
          <% end %>
        </div>
        <div class="col-lg-5 checkboxes">
          <%= form.collection_check_boxes(:project_category_ids, ProjectCategory.all, :id, :name) do |b| %>
            <% b.label {b.check_box + b.text} %>
          <% end %>
        </div>
        <div class="col-lg-6">
        </div>
      </div>
    </div>
    <div class="col-12">
      <% if project.images.any? %>
        <div class="row">
          <div class="col-lg-1">
            <%= form.label :images do %>
              <span class="label">Imagini existente</span> 
              <span class="info">
                <i class="fa fa-info-circle info-name"></i>
                <span class="hiddenimg">
                  <%= image_tag 'info/projects_imagini.PNG' %>
                  <%= image_tag 'info/project_imagini.PNG' %>
                </span>
              </span>
            <% end %>
          </div>
          <div class="col-lg-11 pl-lg-0">
            <div class="row mt-lg-2"><div class="col-12"><i class="fa fa-exclamation-triangle info-name"></i> La apasarea butoanelor de stergere de sub imagini acestea sunt introduse intr-o lista pentru a fi sterse, dar stergerea se face doar in momentul apasarii butonului Salveaza.</div></div><br>
            <div class="row multiple_images foto">
              <% project.images.each do |image| %>
                <div id="poza_<%= image.id %>" style="display: inline-block" class="col-lg-3">
                  <%= image_tag image, class: "project_image" %>
                  <label for="project_remove_images_<%= image.id %>" class="checkbox"><input type="checkbox" value="<%= image.id %>" name="project[remove_images][]" id="project_remove_images_<%= image.id %>", onclick= "document.querySelector('#poza_<%= image.id %>').style.display = 'none';"><div class="col-3 form_btn">
                    Sterge
                  </div></label>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="col-lg-1">
          <%= form.label "Imagini" do %>
            <span class="label">Imagini noi</span> 
            <span class="info">
              <i class="fa fa-info-circle info-name"></i>
              <span class="hiddenimg">
                <%= image_tag 'info/projects_imagini.PNG' %>
                <%= image_tag 'info/project_imagini.PNG' %>
              </span>
            </span>
          <% end %>
        </div>
        <div class="col-lg-11 pl-lg-0">
          <div class="row mt-lg-2"><div class="col-12"><i class="fa fa-exclamation-triangle info-name"></i> Pentru a adauga noi fotografii la proiect apasa pe butonul Adauga imagini si selecteaza imaginile dorite. Daca ai gresit ceva cand ai selectat imaginile(ai selectat prea multe/prea putine/etc.), apasa din nou pe butonul Adauga imagini si selecteaza-le pe cele corecte. In momentul apasarii butonului Adauga/Salveaza se vor adauga imaginile afisate mai jos. </div></div><br>
          <div class="row multiple_images foto">
            <div id="upload" class="col-lg-2 upload">
              <div class="form_btn">
                <%= form.label :images do %>
                  Adauga imagini
                <% end %>
              </div>
              <%= form.file_field :images, multiple: true %>
            </div>
            <div id="uploaded" class="row">
            
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 pl-lg-0">
      <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-1 col-sm-2 form_btn">
          <%= link_to 'Inapoi', admin_proiecte_path, data: { turbolinks: false } %>
        </div>
        <div class="col-lg-1 col-sm-2 form_btn">
          <%= form.submit %>
        </div>
        <% if !current_page?(new_project_path)  %>
          <div class="col-lg-1 col-sm-2 form_btn">
            <%= link_to 'Vezi', @project, data: { turbolinks: false } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
