<%= form_with(model: project, class:"admin_project_form") do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Nume" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label "Descriere" %>
    <div class="editor">
      <%= form.rich_text_area :description %>
    </div>
  </div>

  <div class="field">
    <%= form.label "Autor" %>
    <%= form.text_field :author %>
  </div>

  <div class="field">
    <%= form.label "Data" %>
    <%= form.date_field :date %>
  </div>
  
  <div class="field">
    <%= form.label "Categorii" %>
    <div class="categorii">
      <%= form.collection_check_boxes(:project_category_ids, ProjectCategory.all, :id, :name) do |b| %>
        <% b.label {b.check_box + b.text} %>
      <% end %>
    </div>
  </div>
  <div class="field">
    <%= form.label "Imagini" %>
    <%= form.file_field :images, multiple: true %>
    <% if project.images.any? %>
      <% project.images.each do |image| %>
        <%= image_tag image, class: "project_image" %>
      <% end %>
    <% end %>
  </div>

  <div class="actions">
    <div class="form_btn">
      <%= link_to 'Inapoi', admin_projects_path, data: { turbolinks: false } %>
    </div>
    <%= form.submit %>
    <% if !current_page?(new_project_path)  %>
      <div class="form_btn">
        <%= link_to 'Vezi', @project, data: { turbolinks: false } %>
      </div>
    <% end %>
  </div>
<% end %>
