<%= render '/layouts/admin_panel' do %>

  <h2>Proiecte</h2>

  <table>
    <thead>
      <tr>
        <th class="three"></th>
        <th>Nume</th>
        <th>Descriere</th>
        <th>Autor</th>
        <th>Data</th>
        <th>Categorii</th>
        <th class="three">Vezi</th>
        <th class="three">Edit</th>
        <th class="three">Sterge</th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.id %></td>
          <td><%= project.name %></td>
          <td><%= excerpt(project.description.to_plain_text, "", radius: 100) %></td>
          <td><%= project.author %></td>
          <td><%= project.date %></td>
          <td>to add categorii</td>
          <td>
              <%= link_to project do %>
                <i class="fa fa-eye" aria-hidden="true" title="Vezi"></i>
              <% end %>
            </td>
            <td>
              <%= link_to edit_project_path(project) do%>
                <i class="fa fa-pencil-square" aria-hidden="true" title="Edit"></i>
              <% end %>
            </td>
            <td>
              <%= link_to project, method: :delete, data: { confirm: 'Are you sure?' } do%>
                <i class="fa fa-trash" aria-hidden="true" title="Sterge"></i>
              <% end %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New project', new_project_path %>
  <%= link_to 'Back', admin_panel_path %>
<% end %>