<%= render '/layouts/admin_panel' do %>
  <div class="admin_project_show">
    <p>
      <strong>Nume:</strong>
      <%= @project.name %>
    </p>

    <p>
      <strong>Descriere:</strong>
      <%= @project.description %>
    </p>

    <p>
      <strong>Autor:</strong>
      <%= @project.author %>
    </p>

    <p>
      <strong>Data:</strong>
      <%= @project.date %>
    </p>

    <p>
    <strong>Categorii:</strong>
      <% for project_category in @project.project_categories %>
        <span class="category"> 
          <%= project_category.name %> |
        </span>
      <% end %>
    </p>

    <p>
      <strong>Imagini:</strong>
      <% if @project.images.any? %>
        <% @project.images.each do |image| %>
          <%= image_tag image ,class: "d-block w-100", alt:"..." %>
              
        <% end %>
      <% end %>
    </p>
    <div class="show_btn">
      <%= link_to 'Inapoi', :back, data: { turbolinks: false } %>
    </div>
    <div class="show_btn">
      <%= link_to 'Editeaza', edit_project_path(@project), data: { turbolinks: false } %> 
    </div>
  </div>
<% end %>