<%= render '/layouts/admin_panel' do %>

  <p>
    <strong>Name:</strong>
    <%= @project.name %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= @project.author %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= @project.date %>
  </p>

  <%= link_to 'Edit', edit_project_path(@project) %> |
  <%= link_to 'Back', :back, data: { turbolinks: false } %>
<% end %>