<%= form_with(model: frezarimdf_category) do |form| %>
  <% if frezarimdf_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(frezarimdf_category.errors.count, "error") %> prohibited this frezarimdf_category from being saved:</h2>

      <ul>
        <% frezarimdf_category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'Nume' %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label 'Icon' %>
    <%= form.text_field :data_icon %>
  </div>

  <div class="actions">
    <div class="form_btn">
      <%= link_to 'Inapoi', frezarimdf_categories_path, data: { turbolinks: false } %>
    </div>
    <%= form.submit %>
    <% if !current_page?(new_frezarimdf_category_path)  %>
      <div class="form_btn">
        <%= link_to 'Vezi', @frezarimdf_category, data: { turbolinks: false } %>
      </div>
    <% end %>
  </div>
<% end %>
