<p id="notice"><%= notice %></p>

<h1>Frezarimdf Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Data icon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @frezarimdf_categories.each do |frezarimdf_category| %>
      <tr>
        <td><%= frezarimdf_category.name %></td>
        <td><%= frezarimdf_category.data_icon %></td>
        <td><%= link_to 'Show', frezarimdf_category %></td>
        <td><%= link_to 'Edit', edit_frezarimdf_category_path(frezarimdf_category) %></td>
        <td><%= link_to 'Destroy', frezarimdf_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Frezarimdf Category', new_frezarimdf_category_path %>
