<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @frezarimdf_category.name %>
</p>

<p>
  <strong>Data icon:</strong>
  <%= @frezarimdf_category.data_icon %>
</p>

<%= link_to 'Edit', edit_frezarimdf_category_path(@frezarimdf_category) %> |
<%= link_to 'Back', frezarimdf_categories_path %>
