<%= render '/layouts/admin_panel' do %>
  <div class="admin_frezarimdf_category_show">
    <p>
      <strong>Nume:</strong>
      <%= @frezarimdf_category.name %>
    </p>

    <p>
      <strong>Icon:</strong>
      <span class="icon"><%= @frezarimdf_category.icon.letter  %></span>
    </p>
    <div class="show_btn">
      <%= link_to 'Inapoi', :back, data: { turbolinks: false } %>
    </div>
    <div class="show_btn">
      <%= link_to 'Editeaza', edit_frezarimdf_category_path(@frezarimdf_category), data: { turbolinks: false } %> 
    </div>
  </div>
<% end %>