<%= render '/layouts/admin_panel' do %>
  <div class="admin_quick_access">
    <h2>Quick access panel</h2>
    <hr>
    <p>Accesare rapida pentru modificarea/adaugarea unor noi produse, modele de frezare, proiecte, aprobarea sau respingerea testimonialelor cat si vizualizarea mesajelor primite.</p>
    <div class="counters-menu">
      <%= link_to testimonials_path, class: "counter-item" do %>
        <div class="counter-number"><%= @testimonials.count %></div>
        <div class="counter-icon"><%= image_tag 'testimonials_icon.svg' %></div>
      <% end %>
      <%= link_to products_path, class: "counter-item" do %>
        <div class="counter-number"><%= @products.count %></div>
        <div class="counter-icon"><%= image_tag 'produse_icon.svg' %></div>
      <% end %>
      <%= link_to admin_frezarimdfs_path, class: "counter-item" do %>
        <div class="counter-number"><%= @frezarimdfs.count %></div>
        <div class="counter-icon"><%= image_tag 'frezari_icon.svg' %></div>
      <% end %>
      <%= link_to admin_projects_path, class: "counter-item" do %>
        <div class="counter-number"><%= @projects.count %></div>
        <div class="counter-icon"><%= image_tag 'proiecte_icon.svg' %></div>
      <% end %>
      <%= link_to admin_services_path, class: "counter-item" do %>
        <div class="counter-number"><%= @services.count %></div>
        <div class="counter-icon"><%= image_tag 'servicii_icon.svg' %></div>
      <% end %>
      <%= link_to contact_forms_path, class: "counter-item" do %>
        <div class="counter-number"><%= @contact_forms.count %></div>
        <div class="counter-icon"><%= image_tag 'messages_icon.svg' %></div>
      <% end %>
    </div>
    <div class="quick-menu">
      <div class="quick-menu-item">
        <h3>Home</h3>
        <ul>
          <li><%= link_to 'Vezi testimoniale', testimonials_path %></li>
        </ul>
      </div>
      <div class="quick-menu-item">
        <h3>Produse</h3>
        <ul>
          <li><%= link_to 'Vezi produse', products_path %></li>
          <li><%= link_to 'Adauga produs', new_product_path, data: { turbolinks: false } %></li>
          <li><%= link_to 'Vezi categorii produse', product_categories_path %></li>
          <li><%= link_to 'Adauga categorie produse', new_product_category_path, data: { turbolinks: false } %></li>
        </ul>
      </div>
      <div class="quick-menu-item">
        <h3>Frezari</h3>
        <ul>
          <li><%= link_to 'Vezi frezari', admin_frezarimdfs_path %></li>
          <li><%= link_to 'Adauga frezare', new_frezarimdf_path, data: { turbolinks: false } %></li>
          <li><%= link_to 'Vezi categorii frezari', frezarimdf_categories_path %></li>
          <li><%= link_to 'Adauga categorie frezari', new_frezarimdf_category_path, data: { turbolinks: false } %></li>
        </ul>
      </div>
      <div class="quick-menu-item">
        <h3>Proiecte</h3>
        <ul>
          <li><%= link_to 'Vezi proiecte', admin_projects_path %></li>
          <li><%= link_to 'Adauga proiect', new_project_path, data: { turbolinks: false } %></li>
          <li><%= link_to 'Vezi categorii proiecte', project_categories_path %></li>
          <li><%= link_to 'Adauga categorie proiecte', new_project_category_path, data: { turbolinks: false } %></li>
        </ul>
      </div>
      <div class="quick-menu-item">
        <h3>Servicii</h3>
        <ul>
           <li><%= link_to 'Vezi servicii', admin_services_path, data: { turbolinks: false } %></li>
           <li><%= link_to 'Adauga servicii', new_service_path, data: { turbolinks: false } %></li>
        </ul>
      </div>
      <div class="quick-menu-item">
        <h3>Contact</h3>
        <ul>
           <li><%= link_to 'Vezi formularele de contact', contact_forms_path, data: { turbolinks: false } %></li>
           <li><%= link_to 'Editeaza detalii contact', companies_path, data: { turbolinks: false } %></li>
           <li><%= link_to 'Editaza poze fundal', edit_photos_path, data: { turbolinks: false } %></li>
        </ul>
      </div>
    </div>
  </div>
<% end %>