<%= form_with(model: frezarimdf, class: "admin_frezarimdf_form") do |form| %>
  <% if frezarimdf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(frezarimdf.errors.count, "error") %> prohibited this frezarimdf from being saved:</h2>

      <ul>
        <% frezarimdf.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'Nume' %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label 'Poza' %>
    <div class="poza">
        <div id="poza">
    <% if frezarimdf.image_svg.attached? %>
          <%= image_tag frezarimdf.image_svg, id: "image" %>
          <br>
          <%= form.label :remove_image_svg do %>
            <%= form.check_box :remove_image_svg, onclick:"document.querySelector('#poza').style.display = 'none';"  %> 
            Sterge
          <% end %>
    <% else %>
    <img src="" id="image" style="display: none;">    
    <% end %>
    </div>
    <%= form.label :image_svg do %>
      Upload
    <% end %>
    <%= form.file_field :image_svg %>
  </div>

  <div class="field">
      <%= form.label 'Categorie' %>
      <%= form.select :frezarimdf_category_id, FrezarimdfCategory.all.map {|c| [c.name, c.id]} %>
  </div> 

  <div class="actions">
    <div class="form_btn">
      <%= link_to 'Inapoi', admin_frezarimdfs_path, data: { turbolinks: false } %>
    </div>
    <%= form.submit %>
    <% if !current_page?(new_frezarimdf_path)  %>
      <div class="form_btn">
        <%= link_to 'Vezi', @frezarimdf, data: { turbolinks: false } %>
      </div>
    <% end %>
  </div>
<% end %>
