<%= form_with(model: frezarimdf, class: "admin_frezarimdf_form") do |form| %>
  <% if frezarimdf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(frezarimdf.errors.count, "error") %> prohibited this frezarimdf from being saved:</h2>

      <ul>
        <% frezarimdf.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xl-6 col-lg-12">
      <div class="row">
        <div class="col-lg-2">
          <%= form.label :name do %>
            <span class="label">Nume</span> 
            <span class="info">
              <i class="fa fa-info-circle info-name"></i>
              <span class="hiddenimg">
                <%= image_tag 'info/frezarimdf_nume.PNG' %>
                <%= image_tag 'info/frezarimdf_nume_show.PNG' %>
              </span>
            </span>
          <% end %>
        </div>
        <div class="col-lg-10">
          <%= form.text_field :name %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2">
          <%= form.label :image_svg do %>
            <span class="label">Poza</span> 
            <span class="info">
              <i class="fa fa-info-circle info-name"></i>
              <span class="hiddenimg">
                <%= image_tag 'info/frezarimdf_poza.PNG' %>
                <%= image_tag 'info/frezarimdf_poza_show.PNG' %>
              </span>
            </span>
          <% end %>
        </div>
        <div class="col-lg-10">
          <div class="row foto">
            <div id="upload" class="col-3 upload">
              <div class="form_btn">
                <%= form.label :image_svg do %>
                  Incarca
                <% end %>
              </div>
              <%= form.file_field :image_svg %>
            </div>
            <% if frezarimdf.image_svg.attached? %>
              <div id="poza" class="col-12 poza">
                <%= image_tag frezarimdf.image_svg, id: "image" %>
              </div>
              <div id="checkbox" class="col-3 checkbox">
                <%= form.label :remove_image_svg do %>
                  <%= form.check_box :remove_image_svg, onclick:"document.querySelector('#poza').style.display = 'none';document.querySelector('#checkbox').style.display = 'none';" %> 
                  <div class="form_btn">
                    Sterge
                  </div>
                <% end %>
              </div>
            <% else %>
              <div id="poza" class="col-12 poza">
                <img src="" id="image" style="display: none;">   
              </div> 
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2">
          <%= form.label :frezarimdf_category_id do %>
            <span class="label">Categorie</span> 
            <span class="info">
              <i class="fa fa-info-circle info-name"></i>
              <span class="hiddenimg">
                <%= image_tag 'info/frezarimdf_categorie.PNG' %>
              </span>
            </span>
          <% end %>
        </div>
        <div class="col-lg-10">
          <%= form.select :frezarimdf_category_id, FrezarimdfCategory.all.map {|c| [c.name, c.id]} %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-2 col-sm-3 form_btn">
          <%= link_to 'Inapoi', admin_frezarimdfs_path, data: { turbolinks: false } %>
        </div>
        <div class="col-lg-2 col-sm-3 form_btn">
          <%= form.submit %>
        </div>
        <% if !current_page?(new_frezarimdf_path)  %>
          <div class="col-lg-2 col-sm-3 form_btn">
            <%= link_to 'Vezi', frezarimdf_path(@frezarimdf.id), data: { turbolinks: false } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
