<%= render '/layouts/admin_panel' do %>
  <h2>Vizualizare frezari MDF</h2>
  <table class="width50">
    <thead>
      <tr>
        <th class="five"></th>
        <th>Nume</th>
        <th>Categorie</th>
        <th class="ten">Vezi</th>
        <th class="ten">Edit</th>
        <th class="ten">Sterge</th>
      </tr>
    </thead>

    <tbody>
      <% @frezarimdfs.each do |frezarimdf| %>
        <tr>
          <td><%= frezarimdf.id %></td>
          <td><%= frezarimdf.name %></td>
          <td>to add categorie</td>
          <td>
              <%= link_to frezarimdf, data: { turbolinks: false } do %>
                <i class="fa fa-eye" aria-hidden="true" title="Vezi"></i>
              <% end %>
            </td>
            <td>
              <%= link_to edit_frezarimdf_path(frezarimdf) do%>
                <i class="fa fa-pencil-square" aria-hidden="true" title="Edit"></i>
              <% end %>
            </td>
            <td>
              <%= link_to frezarimdf, method: :delete, data: { confirm: 'Are you sure?' } do%>
                <i class="fa fa-trash" aria-hidden="true" title="Sterge"></i>
              <% end %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New frezarimdf', new_frezarimdf_path %>
  <%= link_to 'Back', admin_panel_path %>
<% end %>