<p id="notice"><%= notice %></p>

<main role="main" class="container wider">
  <%= render '/layouts/parallax_container', image: 'frezari.jpg' %> 
	
	<h1>Model frezare</h1>
  <p>
    Alegeti modelul de frezare apasand pe modelul dorit, urmand ca sa selectati culoarea potrivita din paletarul de culori RAL sau NCS
    <br>
    NOTA: In pasul urmator puteti schimba modelul de frezare utilizand slideru-ul.
  </p>

  <div class="white_bg page_container no-btm-pad">
    <div class="container_frezari">
      <div class="frezari_categories">
        Toate | Clasic | Modern | Line
      </div>
      <hr>
      <div class="frezari">
        <% @frezarimdfs.each do |frezarimdf| %>
          <div class="frezare">
            
            
            <%= link_to frezarimdf_path(frezarimdf.id), data: { turbolinks: false } do %>
              <% if frezarimdf.image_svg.attached? %>
                <%= image_tag frezarimdf.image_svg %>
              <% end %>
              <div class="name"><%= frezarimdf.name %></div>
            <% end %>
            
            

            <div class="links">
              <%= link_to 'Edit', edit_frezarimdf_path(frezarimdf), data: { turbolinks: false } %>
            
              <%= link_to 'Destroy', frezarimdf, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="link_new"><%= link_to 'New Frezarimdf', new_frezarimdf_path %></div>
    </div>
  </div>
</main>
<%= render '/layouts/footer' %>