<p id="notice"><%= notice %></p>

<main role="main" class="container wider">
  <%= render '/layouts/parallax_container', image: @company.frezari_mdf_cover_image.attached? ? rails_blob_url(@company.frezari_mdf_cover_image) : "" %> 
	
	<h1>Model frezare</h1>
  <p>
    Alegeti modelul de frezare apasand pe modelul dorit, urmand ca sa selectati culoarea potrivita din paletarul de culori RAL sau NCS
    <br>
    NOTA: In pasul urmator puteti schimba modelul de frezare utilizand slideru-ul.
  </p>

  <div class="white_bg page_container no-btm-pad">
    <div class="container_frezari" style="background-image: url(<%= @company.frezari_mdf_front_image.attached? ? asset_path(rails_blob_url(@company.frezari_mdf_front_image)) : "" %>);">
      <div class="frezari_categories">
        <div class="frezari_cat_btns">
          <%= link_to frezarimdfs_path,class: "#{'cat_btn_active' if  request.query_parameters=={}}", data: { turbolinks: false } do %>
            <div class="cat_btn">
             <span data-icon=">" class="icon"></span>
             <span >Toate</span>
            </div>
          <% end %>
          <% @frezarimdf_categories.each do |frezarimdf_category| %>
            <%= link_to frezarimdfs_path(:categorie => frezarimdf_category.friendly_id), class: "#{'cat_btn_active' if current_page?(frezarimdfs_path(:categorie => frezarimdf_category.friendly_id))}", data: { turbolinks: false } do %>   
              <div class="cat_btn">
                  <span data-icon="<%= frezarimdf_category.icon.letter %>" class="icon"></span>
                  <span><%= frezarimdf_category.name %></span>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <hr>
      <div class="frezari">
        <% @frezarimdfs.each do |frezarimdf| %>
          <div class="frezare">
            
            
            <%= link_to frezarimdf_path(frezarimdf.id), data: { turbolinks: false } do %>
              <% if frezarimdf.image_svg.attached? %>
                <%= image_tag frezarimdf.image_svg %>
              <% end %>
              <div class="name"><%= frezarimdf.name %></div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
