<footer class="bottom">
	<div class="opac8">
		<div class="container bottom_container">
			<div class="footer_heading_container">
				<p class="footer_headline">
					<strong>NE POTI SUNA ORICAND LA</strong>
				</p>
				<div class="row">
					<div class="col-md-4">
						<% if @company.phone2!="" %>
							<a class="bottom_call" href="tel:+<%= tel(@company.phone2) %>">
								<p class="bottom_call_name">
									<%= @company.phone2_name %>&nbsp
								</p>
								<%= @company.phone2 %>
							</a>
						<% end %>
					</div>
					<div class="col-md-4">.
						<% if @company.phone!="" %>
							<a class="bottom_call" href="tel:+<%= tel(@company.phone) %>">
								<p class="bottom_call_name">
									<%= @company.phone_name %>&nbsp
								</p>
								<%= @company.phone %>
							</a>
						<% end %>
					</div>
					<div class="col-md-4">
						<% if @company.phone3!="" %>
							<a class="bottom_call" href="tel:+<%= tel(@company.phone3) %>">
								<p class="bottom_call_name">
									<%= @company.phone3_name %>&nbsp
								</p>
								<%= @company.phone3 %>
							</a>
						<% end %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<h4>Date de contact</h4>
					<div class="date_de_contact">
						<span>
							<i class="fa fa-map-marker"></i>
							<%= @company.address %>
						</span>
						<span>
							<% if @company.phone!="" %>
								<a class="phone_call" href="tel:+<%= tel(@company.phone) %>">
									<i class="fa fa-phone"></i>
									<%= international_phone(@company.phone) %>
								</a>
							<% end %>
						</span>
						<span>
							<a class="email" href="mailto:<%= @company.email1 %>">
								<i class="fa fa-envelope-o"></i>
								<%= @company.email1 %>
							</a>
						</span>
						<span>
							<a class="email" href="<%= @company.facebook %>" target="_blank">
								<i class="fa fa-facebook"></i>
								Facebook
							</a>
						</span>
						<span>
							<a class="email" href="<%= @company.instagram %>" target="_blank">
								<i class="fa fa-instagram"></i>
								Instagram
							</a>
						</span>
					</div>
					<div class="link_confidentialitate">
						<i class="fa fa-link"></i><a href="/politica-confidentialitate">Politica de confidentialitate</a>
					</div>
				</div>
				<div class="col-md-6">
					<h4>Lasa-ne un mesaj</h4>
					<div id="contact-form-message"></div>
					<%= render 'contact_forms/form_footer', contact_form: @contact_form %>
				</div>
			</div>
		</div>
	</div>
	<div class="last_footer">
		<div class="container">
			<p>Copyright © enocis.ro</p>
		</div>
	</div>
</footer>
<% if @company.phone3!="" %>
	<a class="call" href="https://wa.me/<%= tel(@company.phone3) %>"><span class="call_phone"></span></a>
<% end %>