<footer class="bottom">
	<div class="opac8">
		<div class="container bottom_container">
			<div class="footer_heading_container">
				<p class="footer_headline">
					<strong>NE POTI SUNA ORICAND LA</strong>
				</p>
				<a class="bottom_call" href="tel:+<%= tel(@company.phone) %>"><%= @company.phone %></a>
			</div>
			<div class="row">
				<div class="col-md-6">
					<h4>Date de contact</h4>
					<div class="date_de_contact">
						<span>
							<i class="fa fa-map-marker"></i>
							<%= @company.address %>
						</span>
						<span>
							<a class="phone_call" href="tel:+<%= tel(@company.phone) %>">
								<i class="fa fa-phone"></i>
								<%= international_phone(@company.phone) %>
							</a>
						</span>
						<span>
							<a class="email" href="mailto:<%= @company.email1 %>">
								<i class="fa fa-envelope-o"></i>
								<%= @company.email1 %>
							</a>
						</span>
					</div>
					<div class="link_confidentialitate">
						<i class="fa fa-link"></i><a href="/politica-confidentialitate">Politica de confidentialitate</a>
					</div>
				</div>
				<div class="col-md-6">
					<h4>Lasa-ne un mesaj</h4>
					<div id="contact-form-message"></div>
					<%= render 'contact_forms/form_footer', contact_form: @contact_form %>
				</div>
			</div>
		</div>
	</div>
	<div class="last_footer">
		<div class="container">
			<p>Copyright © enocis.ro</p>
		</div>
	</div>
</footer>
<a class="call" href="https://wa.me/<%= tel(@company.phone) %>"><span class="call_phone"></span></a>