<%= form_with(model: product, class:"admin_product_form") do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name do %>
    <span class="label">Nume</span> 
      <span class="info">
        <i class="fa fa-info-circle info-name"></i>
        <span class="hiddenimg">
          <%= image_tag 'info/products_nume.PNG' %>
          <%= image_tag 'info/product_nume.PNG' %>
        </span>
      </span>
    <% end %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :price do %>
    <span class="label">Pret</span> 
      <span class="info">
        <i class="fa fa-info-circle info-name"></i>
        <span class="hiddenimg">
          <%= image_tag 'info/products_pret.PNG' %>
          <%= image_tag 'info/product_pret.PNG' %>
        </span>
      </span>
    <% end %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :dimensions do %>
    <span class="label">Dimensiuni</span> 
      <span class="info">
        <i class="fa fa-info-circle info-name"></i>
        <span class="hiddenimg">
          <%= image_tag 'info/product_dimensiuni.PNG' %>
        </span>
      </span>
    <% end %>
    <%= form.text_field :dimensions %>
  </div>

  <div class="field">
    <%= form.label :material do %>
    <span class="label">Material</span> 
      <span class="info">
        <i class="fa fa-info-circle info-name"></i>
        <span class="hiddenimg">
          <%= image_tag 'info/product_material.PNG' %>
        </span>
      </span>
    <% end %>
    <%= form.text_field :material %>
  </div>

  <div class="field">
    <%= form.label :accessories do %>
    <span class="label">Accesorii</span> 
      <span class="info">
        <i class="fa fa-info-circle info-name"></i>
        <span class="hiddenimg">
          <%= image_tag 'info/product_accesorii.PNG' %>
        </span>
      </span>
    <% end %>
    <%= form.text_field :accessories %>
  </div>

  <div class="field">
    <%= form.label :color do %>
    <span class="label">Culoare</span> 
      <span class="info">
        <i class="fa fa-info-circle info-name"></i>
        <span class="hiddenimg">
          <%= image_tag 'info/product_culoare.PNG' %>
        </span>
      </span>
    <% end %>
    <%= form.text_field :color %>
  </div>

  <div class="field">
    <%= form.label :product_category_id do %>
    <span class="label">Categorie</span> 
      <span class="info">
        <i class="fa fa-info-circle info-name"></i>
        <span class="hiddenimg">
          <%= image_tag 'info/product_categorie.PNG' %>
        </span>
      </span>
    <% end %>
    <%= form.select :product_category_id, ProductCategory.all.map {|c| [c.name, c.id]} %>
  </div> 

  <div class="field">
    <%= form.label :image do %>
    <span class="label">Poza</span> 
      <span class="info">
        <i class="fa fa-info-circle info-name"></i>
        <span class="hiddenimg">
          <%= image_tag 'info/products_poza.PNG' %>
          <%= image_tag 'info/product_poza.PNG' %>
        </span>
      </span>
    <% end %>
    <div class="poza">
        <div id="poza">
    <% if product.image.attached? %>
          <%= image_tag product.image, id: "image" %>
          <br>
          <%= form.label :remove_image do %>
            <%= form.check_box :remove_image, onclick:"document.querySelector('#poza').style.display = 'none';"  %> 
            Sterge
          <% end %>
    <% else %>
    <img src="" id="image" style="display: none;">    
    <% end %>
    </div>
    <%= form.label :image do %>
      Upload
    <% end %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <div class="form_btn">
      <%= link_to 'Inapoi', products_path, data: { turbolinks: false } %>
    </div>
    <%= form.submit %>
    <% if !current_page?(new_product_path)  %>
      <div class="form_btn">
        <%= link_to 'Vezi', @product, data: { turbolinks: false } %>
      </div>
    <% end %>
  </div>
<% end %>
