<%= render '/layouts/admin_panel' do %>

  <h2>Vizualizare produse</h2>

  <table class="width100">
    <thead>
      <tr>
        <th class="three"></th>
        <th>Nume</th>
        <th>Pret</th>
        <th>Dimensiuni</th>
        <th>Material</th>
        <th>Accessorii</th>
        <th>Culoare</th>
        <th>Categorie</th>
        <th class="three">Vezi</th>
        <th class="three">Edit</th>
        <th class="three">Sterge</th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.id %></td>
          <td><%= product.name %></td>
          <td><%= product.price %></td>
          <td><%= product.dimensions %></td>
          <td><%= product.material %></td>
          <td><%= product.accessories %></td>
          <td><%= product.color %></td>
          <td>to add categorie</td>
           <td>
              <%= link_to product do %>
                <i class="fa fa-eye" aria-hidden="true" title="Vezi"></i>
              <% end %>
            </td>
            <td>
              <%= link_to edit_product_path(product)do%>
                <i class="fa fa-pencil-square" aria-hidden="true" title="Editeaza"></i>
              <% end %>
            </td>
            <td>
              <%= link_to product, method: :delete, data: { confirm: 'Are you sure?' } do%>
                <i class="fa fa-trash" aria-hidden="true" title="Sterge"></i>
              <% end %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Product', new_product_path %>
<% end %>