<p id="notice"><%= notice %></p>
<main role="main" class="product">
	<div class="container">
		<div class="text-center">
			<%= link_to  :back, class: 'back' do %>
				<i class="fa fa-arrow-left"></i> Inapoi
			<% end %>
		</div>
		<div class="text-center">
			<h1><%= @product.name %></h1>
		</div>
		<div class="text-center">
			<h2>Pret incepand de la: <%= @product.price %> ron</h2>
		</div>
		<div class="row text-center detalii">
				<div class="col-sm-12 detalii">
					<div class="row">
						<div class="col-sm-6">Dimensiuni:</div>
						<div class="col-sm-6"><%= @product.dimensions %></div>
					</div>
					<div class="row">
						<div class="col-sm-6">Material:</div>
						<div class="col-sm-6"><%= @product.material %></div>
					</div>
					<div class="row">
						<div class="col-sm-6">Accesorii:</div>
						<div class="col-sm-6"><%= @product.accessories %></div>
					</div>
					<div class="row">
						<div class="col-sm-6">Culoare:</div> 
						<div class="col-sm-6"><%= @product.color %></div>
					</div>
				</div>
		</div>
	</div>
	<div class="container container_image">
		<!-- Carousel -->
		  <div id="myCarousel" class="carousel slide" data-ride="carousel">
		    <div class="carousel-inner">
					<div class="carousel-item active">
						  <% if @product.image.attached? %>
                <%= image_tag @product.image, alt: @product.name %>
              <% end %>
					</div>
		    </div> 
		  </div>
	</div>
	<div class="container cere_oferta">
		<div class="row" style="padding-bottom:30px;">
			<div class="col-sm-3">
			</div>
			<div class="col-sm-6">

				<h2 class="h2_mesaj">Pentru o oferta personalizata suna acum la <a href="tel:0723-609-644">0723.609.644</a> sau completeaza formularul de mai jos.</h2>
				<%= render 'contact_forms/form', contact_form: @contact_form %>

			</div>
			<div class="col-sm-3">
			</div>
		</div>
	</div>

</main>