<p>
  <%= @contact_form.name %> cu email-ul <a href="mailto:<%= @contact_form.email %>?subject=Re: Formular de contact Enocis&body=<br><br><br><hr><br>On <%= @contact_form.created_at %>, <%= @contact_form.name %> ( <%= @contact_form.email %> ) wrote:<br><br><%= @contact_form.message %>"><%= @contact_form.email %></a> si numarul de telefon <%= @contact_form.phone %> a completat formularul de contact cu urmatorul text:
</p>
<p>
  <%= @contact_form.message %> 
</p>
<br>
<hr>
<p>Pentru a raspunde apasa <a href="mailto:<%= @contact_form.email %>?subject=Re: Formular de contact Enocis&body=<br><br><br><hr><br>On <%= @contact_form.created_at %>, <%= @contact_form.name %> ( <%= @contact_form.email %> ) wrote:<br><br><%= @contact_form.message %>">aici</a></p>