<%= form_with(model: testimonial) do |form| %>
  <% if testimonial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(testimonial.errors.count, "error") %> prohibited this testimonial from being saved:</h2>

      <ul>
        <% testimonial.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-xl-6 col-lg-12">
      <div class="row">
        <div class="col-lg-2">
          <%= form.label :name, 'Nume' %>
        </div>
        <div class="col-lg-10">
          <%= form.text_field :name %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2">
          <%= form.label :title, 'Companie/Functie' %>
        </div>
        <div class="col-lg-10">
          <%= form.text_field :title %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2">
          <%= form.label :comment, 'Comentariu' %>
        </div>
        <div class="col-lg-10">
          <%= form.text_area :comment %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2">
          <%= form.label 'Poza' %>
        </div>
        <div class="col-lg-10">
          <div class="row foto">
            <div id="upload" class="col-3 upload">
              <div class="form_btn">
                <%= form.label :image do %>
                  Incarca
                <% end %>
              </div>
              <%= form.file_field :image %>
            </div>
            <% if testimonial.image.attached? %>
              <div id="poza" class="col-12 poza poza_testimonial">
                <%= image_tag testimonial.image.variant(resize_to_limit: [150, 150]), id: "image" %>
              </div>
              <div id="checkbox" class="col-3 checkbox">
                <%= form.label :remove_image do %>
                  <%= form.check_box :remove_image, onclick:"document.querySelector('#poza').style.display = 'none';document.querySelector('#checkbox').style.display = 'none';" %> 
                  <div class="form_btn">
                    Sterge
                  </div>
                <% end %>
              </div>
            <% else %>
              <div id="poza" class="col-12 poza">
                <img src="" id="image" style="display: none;">   
              </div>
              
            <% end %>
            
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2">
          <%= form.label 'Aprobat' %>
        </div>
        <div class="col-lg-10">
          <%= form.check_box :approved %>
        </div>
      </div>
      
      <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-2 col-sm-3 form_btn">
          <%= link_to 'Inapoi', testimonials_path, data: { turbolinks: false } %>
        </div>
        <div class="col-lg-2 col-sm-3 form_btn">
          <%= form.submit %>
        </div>
        <div class="col-lg-2 col-sm-3 form_btn">
          <%= link_to 'Vezi', @testimonial, data: { turbolinks: false } %>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-12"></div>
  </div>
<% end %>