<%= form_with(model: @testimonial,data: {remote: true}, class: "testimonial-form", id: "testimonial-form") do |form| %>
   <div class="field">
    <%= form.label :name, "Nume" %>
    <%= form.text_field :name, required: true, oninvalid: "this.setCustomValidity('Numele este obligatoriu')",
 oninput: "setCustomValidity('')" %>
  </div>

  <div class="field">
    <%= form.label :email, 'Email', style: "display:none !important"%>
    <%= form.text_field :email, class: "h-full-width", placeholder: "Email address", style: "display:none !important", tabindex: "-1", autocomplete: "off" %>
  </div>

  <div class="field">
    <%= form.label :title, "Companie/Functie" %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :comment, "Testmonial" %>
    <%= form.text_area :comment, required: true, oninvalid: "this.setCustomValidity('Testimonialul este obligatoriu')",
 oninput: "setCustomValidity('')"  %>
  </div>
  
  <div class="field">
    <%= form.label "Poza" %>
    <%= form.file_field :image %>
  </div>

  <div class="field" >
    <%= recaptcha_tags id: 'add_testimonial_captcha', theme: 'dark'  %>
  </div>
  <div class="actions row">
    <div class="col">
      <%= form.submit 'Adauga testimonial' %>
    </div>
    <div class="col">
      <%= link_to 'Cancel', '#' , onclick:"document.querySelector('#testimonial-form').style.display = 'none';document.querySelector('#new_testimonial_link').style.display = '';return false;", class: "cancel" %>
    </div>
  </div>
<% end %>