<%= render '/layouts/admin_panel' do %>
  <div class="admin_testimonials">
    <h2>Aprobare testimoniale</h2>
    <hr>
    <table class="width100">
      <thead>
        <tr>
          <th class="three"></th>
          <th class="ten">Nume</th>
          <th class="ten">Functie</th>
          <th>Testimonial</th>
          <th class="five">Status</th>
          <th class="three">Vezi</th>
          <th class="three">Edit</th>
          <th class="three">Sterge</th>
        </tr>
      </thead>

      <tbody>
        <% @testimonials.each do |testimonial| %>
          <tr>
            <td><%= testimonial.id %></td>
            <td><%= testimonial.name %></td>
            <td><%= testimonial.title %></td>
            <td><%= excerpt(testimonial.comment, "", radius: 140)%></td>
            <td><%= testimonial.approved ? "Aprobat" : "Neaprobat" %>
            </td>
            <td>
              <%= link_to testimonial do %>
                <i class="fa fa-eye" aria-hidden="true" title="Vezi"></i>
              <% end %>
            </td>
            <td>
              <%= link_to edit_testimonial_path(testimonial), data: { turbolinks: false } do%>
                <i class="fa fa-pencil-square" aria-hidden="true" title="Edit"></i>
              <% end %>
            </td>
            <td>
              <%= link_to testimonial, method: :delete, data: { confirm: 'Are you sure?' } do%>
                <i class="fa fa-trash" aria-hidden="true" title="Sterge"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
<% end %>