<%= render '/layouts/admin_panel' do %>
  <p>
    <strong>Name:</strong>
    <%= @testimonial.name %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= @testimonial.title %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= @testimonial.comment %>
  </p>

  <p>
    <strong>Approved:</strong>
    <%= @testimonial.approved %>
  </p>

  <%= link_to 'Edit', edit_testimonial_path(@testimonial) %> |
  <%= link_to 'Back', :back, data: { turbolinks: false } %>
<% end %>