<%= render '/layouts/admin_panel' do %>
  <div class="admin_testimonial_show">
    <p>
      <strong>Nume:</strong>
      <%= @testimonial.name %>
    </p>

    <p>
      <strong>Functie:</strong>
      <%= @testimonial.title %>
    </p>

    <p>
      <strong>Testimonial:</strong>
      <%= @testimonial.comment %>
    </p>

    <p>
      <strong>Aprobat:</strong>
      <%= @testimonial.approved ? "da" : "nu" %>
    </p>
    
    <p>
      <% if @testimonial.image.attached? %>
        <%= image_tag @testimonial.image.variant(resize_to_limit: [100, 100])%>
      <% end %>
    </p>

    <%= link_to 'Editeaza', edit_testimonial_path(@testimonial), data: { turbolinks: false } %> |
    <%= link_to 'Inapoi', :back, data: { turbolinks: false } %>
  </div>
<% end %>